{% extends 'market/base.html' %}


{% block content %}
<div id="shop" class="container my-5">
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.file }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{ product.name }} - {{ product.description }}</p>
                    <p><b>${{ product.price }}</b></p>
                    <a href="{% url 'detail' product.id %}" class="btn btn-danger">Details</a>
                    <a href="#" class="btn btn-warning mx-3">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}